p{
color: brown;   
font-style: oblique;
border: 2px solid black; 
padding: 5px; 
margin: 20px;

}

body{
    background-color: rgb(169,215,215);

}

header{
    background-color: rgb(13,10,183);
    padding: 1em;

}
